    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Ayush</h2>
                <p><a href="https://ayushk.cf">Ayush</a> is Currently doing his B.s in Information Technology.</p>
                <p>He is a Hardworking and Career Oriented Professional.</p>
                <p><a href="https://ayushk.cf">Ayush</a> is intrested in Digital Strategy, Strategy, Digital Marketing & Marketing.</p>
                <p>He loves reading about Digital Strategy and Marketing.</p>
                <p>His Top Professional Skills include:- Marketing, Digital Marketing, Digital Strategy, Public Relations, Brand Management, Product Management.</p>
                <p>His Top Technical Skills include:- C, C++, Python, R, HTML, CSS, Javascript.</p>
            </div>
        </div>
    </section>
