    <!-- Download Section -->
    <section id="portfolio" class="content-section text-center">
        <div class="portfolio-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Ayush's Portfolio</h2>
                    <pre>
                    <b>1.)Education</b>
                   -Mumbai University (Bunt Sangha's SM Shetty College, Mumbai, Maharashtra-400072)
                   .BSC IT(INFORMATION TECHNOLOGY), IT(INFORMATION TECHNOLOGY)
                   .2020 – 2023
                   -Maharashtra H.S.C Board (Bunt Sangha's SM Shetty Junior College, Mumbai, Maharashtra-400072)
                   .Activities and Societies
                   .2019 – 2020
                   .A Grade & First Class
                   -C.B.S.E AISSE Board (Shantiniketan School, Kolhapur, Maharashtra-416013)
                   .Activities and Societies
                   .2019 – 2020
                   .A Grade & First Class
                   </pre>
                </div>
            </div>
        </div>
    </section>
