    <!-- Download Section -->
    <section id="portfolio" class="content-section text-center">
        <div class="portfolio-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Ayush's Portfolio</h2>
                    <pre>
                    Education

S.M. Shetty College

BSC IT(INFORMATION TECHNOLOGY), IT(INFORMATION TECHNOLOGY)

2020 – 2023

S.M. Shetty College-POWAI,ANDHERI(E),MUMBAI-400072

H.S.C

2019 – 2020

GRADE-A

FIRST CLASS

Shantiniketan School

CBSE SSC(10TH BOARD)

2017 – 2018

GRADE-A

FIRST CLASS

Licenses & certifications
=MS EXCEL CERTIFICATION – Master of Project Academy

link- https://drive.google.com/file/d/13naUDNe-yv_7hW2yOO13MbFMgwDLyEn2/view?usp=sharing

=Mental Health Effects of the COVID-19 Pandemic CERTIFICATION – Harvard Medical School
Link- https://drive.google.com/file/d/13naUDNe-yv_7hW2yOO13MbFMgwDLyEn2/view?usp=sharing

=certification on indian census – Office of the Registrar General & Census Commissioner of India(ORGI & CCI)

link- https://drive.google.com/file/d/1uNBLQzM1CkhnVDZtW7F6eF-BnewRKhLU/view?usp=sharing

=INTERNET OF THINGS – Amazon Web Services (AWS)
link- https://drive.google.com/file/d/1a17G6rGWa9xNP20DysYVrCJpkdLh82n6/view?usp=sharing

=MACHINE LEARNING – Amazon Web Services (AWS)
link- https://drive.google.com/file/d/1-0_mdsahLhXv4B3Nwcowt8crvTLkXZut/view?usp=sharing

=ARTIFICIAL INTELLIGENCE – Amazon Web Services (AWS)
link- https://drive.google.com/file/d/1xMr-GExLzl5q_IxA-38K-M1twEAGeRvE/view?usp=sharing

=INTRODUCTION TO HADOOP AND DATA SCIENCES – Great Learning
link- https://olympus1.greatlearning.in/course_certificate/NGZOBMSJ

=DATA COLLECTION – World Health Organization
link- https://drive.google.com/file/d/1jYe6K0kFflvI8YFMkRrIOUb-jYi5VD-7/view?usp=sharing

=HOW TO USE LINKEDIN LEARNING – LinkedIn
Issued Sep 2020

=Strategic Thinking – LinkedIn
Issued Sep 2020

Master Digital Marketing – LinkedIn
Issued Sep 2020

Skills
Leadership Strategic Thinking Strategy

OLYMPIADS:-
=TATA DOODLE DRAWING COMPETITION 2015

PARTICIPATED

LINK- https://drive.google.com/file/d/1xMr-GExLzl5q_IxA-38K-M1twEAGeRvE/view?usp=sharing

=TRAI GREEN OLYMPIAD 2016

PARTICIPATED

LINK- https://drive.google.com/file/d/1uXhuZLB1POjuIoJtKeQn107-9XJZSkZl/view?usp=sharing

=TRAI GREEN OLYMPIAD 2017

PARTICIPATED

LINK- https://drive.google.com/file/d/1sBYbNcQJAT9jlP3c_yhEywrb7AJmO2oU/view?usp=sharing

=ALL INDIA HINDI OLYMPIAD 2017

AIR-2

LINK- https://drive.google.com/file/d/1C1M5BPemRuzkobYQeE6UNrEYaXPafU5t/view?usp=sharing
</pre>
                   
                </div>
            </div>
        </div>
    </section>
